.menu__card{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
}
.card{
    background-color: var(--clr-rose);
    border-radius: 1rem;
    width: ;
}
.card__detail{
    padding: 1rem;
}
.card__detail img{
    width: 100%;
    object-fit: cover;
}