.pp{
    position: absolute;
    padding: 5rem 0;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}
.pp p{
    color: var(--clr-light);
    font-size: 2rem;
}
.dd{
    /* position: absolute; */
    width: 100%;
}
.image{
    height: 600px;
}
.image img{
    margin: auto;
    display: block;
    width: 100%;
}
.home{
    margin-top: 2rem;
}
.home-img{
    width: 100%;
    border-radius: 0.6rem;
    overflow: hidden;
}
.search{
    width: 100%;
}
.searchMain{
    border-radius: 6rem;
}
.items{
   margin-top: 1rem;
    
}
.btn{
    background-color: var(--clr-main);
    /* margin: 2rem 1rem; */
    padding: 0.5rem;
    margin: 10px 10px;
    border-radius: 10px;
    transition: 0.3s;
  }
  .btn:hover{
    background-color: #ff6632;
  }

  
/* xs */
@media (min-width: 475px){
    /* .container{
        max-width: 475px;
    } */
  }
  
  /* sm */
  @media (min-width: 640px){
   
  }
  
  /* md */
  @media (min-width: 768px){
    .home-img{
        height: 400px;
        object-fit: cover;
    }
    .home{
        margin-top: 5rem;
    }
  }
  
    /* lg */
    @media (min-width: 896px){
        .home-img{
            /* width: 100%; */
            height: 370px;
            object-fit: cover;
        }
    }
  
    /* xl */
    @media (min-width: 1024px){
        .home-img{
            height: 350px;
            object-fit: cover;
        }
    }
    
    /* 2xl */
    @media (min-width: 1280px){
     
    }
    
    /* 3xl */
    @media (min-width: 1536px){

    }
    
    
  